.friend {
  $size: 125px;

  min-height: $size;
  clear: both;

  .friend-image {
    float: left;
    width: $size;
    height: $size;
    margin: 0 20px 20px 0;
  }

  h3 {
    color: #8f8f8f;
    text-transform: lowercase;
  }
}
