@media (max-width: 620px) {
  body {
    header { text-align: center; }

    #wrapper { padding: 0 10px; }

    #container {
      ul.posts .datetime {
        float: none;
        display: block;
        width: auto;
        text-align: left;
      }

      .links, .content {
        padding: 15px;

        section.post {
          margin: 0 -15px;

          > p,
          h1,
          h2,
          h3,
          h4,
          blockquote,
          .signoff,
          .highlight { padding: 0 15px; }

          ul,
          ol { padding: 0 30px; }
        }
      }

      .block { text-align: center; }
    }

    #copyright {
      float: none;
      margin: 0 auto;
      text-align: center;
    }

    .friend {
      text-align: center;
      padding-bottom: 40px;

      img {
        float: none;
        margin: 0;
      }
    }

    #social {
      float: none;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}
