$primary: #c2362d;
$primary-darkened: darken($primary, 10%);
$max-width: 1200px;
$text: #121212;
$text-muted: #8f8f8f;
$side-padding: 60px;

h1,
h2,
h3,
h4,
h5 { font-weight: lighter; }
h2 + h3 { margin-top: -18px; }

strong,
b { font-weight: bold; }

body {
  background: $primary;
  color: $text;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  padding: 0;
  margin: 0;

  * { -webkit-font-smoothing: antialiased; }
}

img {
  border: none;
  max-width: 100%;
}
img.half { width: 50%; }

.capitalize { text-transform: capitalize; }
.upcase { text-transform: uppercase; }
.downcase { text-transform: lowercase; }
.hide { display: none; }
.a-r { text-align: right; }
.a-c { text-align: center; }
.small { font-size: 11px; }
.muted { color: $text-muted; }
.colour-1 { color: #cc9944; }
.colour-2 { color: #925; }
.colour-3 { color: #448844; }
.text-big {
  font-size: 24px;
  line-height: 1em;
}

ol,
ol li {
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  font-style: normal !important;

  .title { color: #323232; }
}

header {
  padding: 20px 40px;

  h1 {
    margin: 0;
    font-size: 42px;
  }

  h2 {
    text-transform: lowercase;
    color: $text-muted;
    margin: 0 3px;
  }
}

#wrapper {
  background: #ffffff;
}

#container {
  *zoom: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;

  .block {
    padding: 30px 40px 24px;
    text-align: right;

    a.main {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      padding: 8px 12px;
      margin-right: 12px;
      margin-bottom: 6px;
      font-weight: bold;
      text-transform: uppercase;
    }

    a.main:last-of-type { margin-right: 0; }

    a.main:hover,
    a.main.current {
      background: $primary;
      color: #ffffff;
    }

    .button {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 20px;
      overflow: hidden;
    }
  }
}

footer {
  width: 100%;
  line-height: 2em;
  padding-bottom: 30px;
  font-size: 18px;

  .inner {
    max-width: $max-width;
    margin: 0 auto;
  }

  &,
  a,
  a:hover,
  * { color: #ffffff; }

  a:hover {
    text-decoration: underline;
  }

  h3 {
    margin: 0;

    a:hover {
      text-decoration: none;
    }
  }
}

#social {
  float: left;

  a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 5px 0;
    width: 42px;
    height: 40px;
    margin-right: 2px;
    padding: 0 5px;

    span {
      display: inline-block;
      text-indent: -9999em;
    }
  }

  a:hover {
    background-color: lighten($primary, 10%);
  }

  a:before {
    font-size: 32px;
    line-height: 40px;
    width: 42px;
    text-align: center;
  }
}

#copyright {
  float: right;
  text-align: right;
}

.content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: $side-padding / 2 $side-padding;
  margin: auto;
}

a,
.as-link {
  text-decoration: none;
  color: $primary;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: color,background 0.3s;
  -moz-transition: color,background 0.3s;
  -ms-transition: color,background 0.3s;
  -o-transition: color,background 0.3s;
  transition: color,background 0.3s;
}

a.main,
.as-link.main {
  color: $primary;
}

a:hover,
.as-link:hover {
  color: $primary-darkened;
}

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

ul.posts,
ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.posts li { margin-bottom: 20px; }
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right;
}

ul.posts li a {
  font-size: 20px;
}

section.post {
  margin: 0 (-$side-padding);
  text-align: left;
  border-top: 0;
  padding: 0;

  > * {
    padding-left: $side-padding;
    padding-right: $side-padding;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-left: 20px;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 60px;

    .date {
      color: $text-muted;
      font-size: 20px;
      text-transform: lowercase;
    }
  }

  iframe { width: 100%; }
  iframe,
  img {
    padding: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

section.post,
section > p {
  font-size: 18px;
  line-height: 1.6em;

  * { max-width: 100%; }

  em strong {
    background-color: #ffffee;
    padding: 0 2px;
  }

  blockquote {
    color: #606060;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    display: block;
    padding: $side-padding / 4 $side-padding;
  }

  li {
    .highlight { padding: 0 10px; }
    p { margin-bottom: 5px; }
  }
}

pre {
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  line-height: 1.2em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-size: 13px;
  color: #eee;
  background: #39382e;
  padding: 2px 4px 3px;
  border-radius: 2px;
  line-height: 1.3em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

.signoff {
  margin-top: 30px;
}

.paging {
  a { opacity: 0.25; }
  a:hover {
    opacity: 0.7;
    background: none;
  }

  .left,
  .right {
    $height: 60px;

    position: fixed;
    top: 50%;
    left: 50%;
    font-size: $height;
    margin-top: -($height / 2);
    z-index: 1;
  }

  .left { margin-left: -($max-width / 2 + 40px); }
  .right { margin-left: $max-width / 2 + 20px; }
}
