<footer>
    <div class="inner">
        <div class="content">
            <div id="social">
{% for link in site.social_links %}
<a href="{{ link.url }}" target="_blank" title="{{ link.name }}" class="icon {{ link.class }}"><span>{{ link.name }}</span></a></li>
{% endfor %}
            </div>
            <div id="copyright">
                <h3>&copy; {{ site.time | date: '%Y' }}, <a href="{{ site.url }}">Dan Imhoff</a></h3>
            </div>
        </div>
    </div>
</footer>
