<div class="friend">
    <a href="{{ include.url }}" class="friend-image"><img src="/images/{{ include.name | slugify }}.jpg" alt="{{ include.name }}"></a>
    <h2><a href="{{ include.url }}">{{ include.name }}</a></h2>
    <h3>{{ include.title }}</h3>
</div>
