        <link href="/images/fav.png" rel="shortcut icon">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/syntax.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,400,300" rel="stylesheet" type="text/css">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
{% for css_name in page.extra_css %}
        <link href="/stylesheets/{{ css_name }}" rel="stylesheet" type="text/css" />
{% endfor %}
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <meta content="text/html; charset=utf-8" http-equiv="content-type" />
{% if page.date %}
        <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
        <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property="og:description" />
        <meta content="article" property="og:type" />
{% else %}
        <meta content="{{ site.url }}" property="og:url" />
        <meta content="{{ site.description }}" property="og:description" />
        <meta content="blog" property="og:type" />
{% endif %}
        <meta content="{{ site.url }}/images/fav.png" property="og:image" />
{% include ga.html %}
