<div class="block">
    {% for link in site.links %}
    <a target="{% if link.external %}_blank{% else %}_top{% endif %}" class="main{% if link.url == page.url %} current{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
</div>
