<!doctype html>
<html>
    <head>
        <meta content="{{ site.title }}" property="og:title" />
        <title>{{ site.title }}</title>
        {% include head.html %}
        </head>
    <body>
        <div id="wrapper">
            <div id="container">
                {% include header.html %}
                {% include links.html %}
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
