<!doctype html>
<html>
    <head>
        <meta content="{{ page.title }} - {{ site.title }}" name="title" />
        <meta content="{{ page.title }} - {{ site.title }}" name="og:title" />
        <title>{{ page.title }} - {{ site.title }}</title>
        {% include head.html %}
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                {% include header.html %}
                {% include links.html %}
                <div class="content">
                    <section class="post">
                        {{ content }}
                    </section>
                </div>
                {% if page.disqus == 'y' %}
                    {% include disqus.html %}
                {% endif %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
