<!doctype html>
<html>
    <head>
        <meta content="{{ page.title }} - {{ site.title }}" property="og:title" />
        <title>{{ page.title }} - {{ site.title }}</title>
        {% include head.html %}
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                {% include header.html %}
                {% include links.html %}
                {% include pages.html %}
                <div class="content">
                    <section class="post">
                        <h1 class="upcase">
                        <div class="date">{{ page.date | date_to_long_string }}</div>
                            {{ page.title }}
                        </h1>
                        {{ content }}
                        {% include signoff.html %}
                    </section>
                </div>
                {% if page.disqus == 'y' %}
                    {% include disqus.html %}
                {% endif %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
